<header>
  <h1>Company Tool</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about/2" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <small>&copy; 2019, A Cool Company, Inc.</small>
</footer>

