<form [formGroup]="colorForm">
  <div>
    <label for="color-input">Color:</label>
    <input type="text" id="color-input"
      formControlName="color">
  </div>
  <button (click)="doSubmitColor()">{{buttonText}}</button>
</form>

