<tool-header headerText="headerText"></tool-header>
<input type="text" [formControl]="message">
<p>
  {{message.value}}
</p>
<ul>
  <li *ngFor="let color of colors">{{color | myUppercase}}</li>
  <!-- <ng-template ngFor [ngForOf]="colors" let-color>
    <li>{{color}}</li>
    <li>{{color | uppercase}}</li>
  </ng-template>

  <ng-container *ngFor="let color of colors">
    <li>{{color}}</li>
    <li>{{color | uppercase}}</li>
  </ng-container> -->
</ul>
<div class="color-form" buttonText="Add Color" (submitColor)="addColor($event)"></div>

