<form [formGroup]="contactForm">

  <app-name-form formControlName="fullName"></app-name-form>
  <span *ngIf="contactForm.controls.fullName.errors">Full Name is Required</span>

  <button (click)="doOutput()">Submit</button>



</form>