<form [formGroup]="sampleForm">
  <!-- <div>
    <label for="first-name-input">
      First Name</label>
    <input type="text" id="first-name-input"
      formControlName="firstName">
    <span>
      First name is required.
    </span>
    <span *ngIf="isFirstNameRequiredInvalid">
      First name is required.
    </span>
    <span *ngIf="isFirstNameMinLengthInvalid">
      First name requires 3 characters.
    </span>
    </div>
    <div>
      {{this.sampleForm.controls.firstName.errors | json}}
    </div> -->

  <div>
    Email: <input type="text" formControlName="email"><br>
    Phone: <input type="text" formControlName="phone">

  </div>


  <button id="submit-form">Submit</button>
</form>
