<tool-header [headerText]="headerText"></tool-header>

<div *ngIf="errorMessage">{{errorMessage}}</div>
<button (click)="doRefreshCars()">Refresh Cars</button>
<car-table [cars]="cars" [editCarId]="editCarId"
  (editCar)="doEditCar($event)"
  (deleteCar)="doDeleteCar($event)"
  (saveCar)="doReplaceCar($event)"
  (cancelCar)="doCancelCar()"></car-table>

<car-form buttonText="Add Car" (submitCar)="doAddCar($event)"></car-form>